.big-box{
    height: 200px;
    width: 200px;
}
.custom-width {
    max-width: 800px; 
    margin: 0 auto;
}
.delete-btn {
    background-color: #2C1708;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50%;
}

.upload-box.has-image .delete-btn {
    display: block; 
}